body {
  font-family: system-ui, sans-serif;
  background: #f1f5f9;
  color: #0f172a;
  line-height: 1.7;
}

nav {
  background: #020617;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  background: #020617;
  color: white;
  padding: 90px 20px;
  text-align: center;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

.skills-grid span {
  display: inline-block;
  background: white;
  padding: 8px 14px;
  border-radius: 20px;
  margin: 6px;
}

.project {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-top: 25px;
}

.project ul {
  margin-left: 20px;
}

.tech {
  font-size: 14px;
  color: #475569;
}

footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 30px;
}